# =========================
# FRONTEND (React)
# =========================

career-ai-frontend/node_modules/
career-ai-frontend/build/
career-ai-frontend/.pnp
career-ai-frontend/.pnp.js
career-ai-frontend/coverage/

career-ai-frontend/.env.local
career-ai-frontend/.env.development.local
career-ai-frontend/.env.test.local
career-ai-frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# BACKEND (Spring Boot)
# =========================

careerai/target/
careerai/.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# =========================
# ECLIPSE FILES (IMPORTANT)
# =========================

.metadata/
careerai/.settings/
careerai/.classpath
careerai/.project

# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db